<h1>New Landmark</h1>
<form action="/landmarks/new" method="post">
	<label for="">Landmark Name:</label><input  name="landmark_name" id="landmark[name]" type="text">
	<label for="">Year Completed:</label><input type="text" id="landmark[year_completed]" name="landmark_year_completed">
	<input type="submit" value="Create New Landmark">
</form>